@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import "./variables";

body {
	margin: 0;
	background-color: white;
	font-family: $font_family;
	font-weight: 500;
	color: $dark;
	overflow-x: hidden;
}

main {
	min-height: 70vh;
	padding: 5rem;
}